#main{
	width: 940px;
	margin: 20px auto;
}
#main h1{
	color: #047d78;
	font-size: 24px;
	padding: 0 0 6px 0;
	border-bottom: 1px dashed #e5e5e5; 
}
#main form{
	width: 384px;
	margin: 30px auto;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
#main form input.text{
	width: 186px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
}
#main form table{
	border-spacing: 10px 20px;
}
td.td1{
	text-align: right;
}
#main form input.code{
	width: 94px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
}
td.td2 a{
	font-size: 12px;
	text-decoration: underline;
	color: #047d78;
	margin-left: 10px;
	vertical-align: bottom;
}
td.td2 img{
	width: 95px;
	height: 48px;
}
td.td2 p{
	color: #48605f;
	font-size: 12px;
	margin-top: 5px;
}
td.td2 p input{
	vertical-align: middle;
	margin-right: 5px;
}
td.td2 p a{
	margin-left: 5px;
	color: #48605f;
	text-decoration: none;
}
#main form input.submit{
	width: 88px;
	height: 44px;
	border: 1px solid #7fa6a3;
	background: #80b8b4;
	color: #fff;
	font-size: 24px;
	float: right;
}
#main form input.submit:hover{
	background: #047d78;
}