#main{
	width: 940px;
	margin: 20px auto;
}
#main h1{
	color: #047d78;
	font-size: 24px;
	padding: 0 0 6px 0;
	border-bottom: 1px solid #e5e5e5; 
}
#main h1 form{
	float: right;
	font-size: 14px;
}
#main h1 form input{
	width: 200px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 26px;
	height: 26px;
}
#main h1 form input.search{
	width: 20px;
	height: 20px;
	border: 0;
	margin: 0 0 0 -30px;
	padding: 0;
	background: url(../img/search_page.jpg);
}
#main_content{
	font-family: "SimSun";
	padding: 0 0 60px 54px; 
}
.main_list a{
	display: block;
}
.main_list a li{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	line-height: 2em;
	list-style: url(../img/list_img.jpg) inside;
	padding: 20px 0;
	border-bottom: 1px solid #e5e5e5;
}
.main_list a li span{
	font-size: 12px;
	font-weight: normal;
	float: right;
	color: #878787;
}
.main_list a li p{
	font-size: 12px;
	font-weight: normal;
	color: #b2b2b2;
	line-height: 1.5em;
}
.main_content_nav{
	margin-top: 30px;
	font-family: "Microsoft YaHei";
}
.main_content_nav li{
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 40px;
}
.main_content_nav li a{
	color: #3f3f3f;
	padding: 4px;
	margin: 0 6px;
}
.main_content_nav li a:hover{
	text-decoration: underline;
}
.main_content_nav li.page_on{
	color: #047d78;
	font-size: 30px;
	line-height: 30px;
	padding: 4px;
	margin: 0 6px;
}